@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 248 43% 97%;
    --foreground: 247 67% 12%;

    --card: 247 67% 98%;
    --card-foreground: 247 92% 17%;

    --popover: 244 68% 99%;
    --popover-foreground: 247 70% 13%;

    --primary: 261 73% 69%;
    --primary-foreground: 0 0% 100%;

    --secondary: 221 84% 94%;
    --secondary-foreground: 249 25% 18%;

    --muted: 218 21% 89%;
    --muted-foreground: 240 3% 36%;

    --accent: 285 82% 87%;
    --accent-foreground: 241 76% 22%;

    --destructive: 0 72% 51%;
    --destructive-foreground: 249 24% 99%;

    --border: 228 20% 80%;
    --input: 230 18% 85%;
    --ring: 265 89% 78%;

    --radius: 0.62rem;

    --sidebar-background: 0 0% 98%;

    --sidebar-foreground: 240 5.3% 26.1%;

    --sidebar-primary: 240 5.9% 10%;

    --sidebar-primary-foreground: 0 0% 98%;

    --sidebar-accent: 240 4.8% 95.9%;

    --sidebar-accent-foreground: 240 5.9% 10%;

    --sidebar-border: 220 13% 91%;

    --sidebar-ring: 217.2 91.2% 59.8%;

    /* Data visualization custom colors */
    --newpurple-900: 264 95% 19%;
    --newpurple-800: 265 60% 31%;
    --newpurple-400: 265 78% 70%;
    --newblue-900: 224 50% 22%;
    --newblue-800: 223 78% 38%;
    --newblue-400: 224 67% 66%;
  }

  .dark {
    --background: 247 77% 5%;
    --foreground: 219 47% 93%;

    --card: 247 66% 7%;
    --card-foreground: 219 47% 92%;

    --popover: 249 18% 10%;
    --popover-foreground: 219 47% 90%;

    --primary: 265 78% 70%;
    --primary-foreground: 0 0% 100%;

    --secondary: 224 40% 26%;
    --secondary-foreground: 242 86% 82%;

    --muted: 224 42% 20%;
    --muted-foreground: 222 42% 72%;

    --accent: 285 82% 88%;
    --accent-foreground: 222 60% 32%;

    --destructive: 0 77% 37%;
    --destructive-foreground: 219 55% 95%;

    --border: 249 20% 22%;
    --input: 249 20% 23%;
    --ring: 265 78% 70%;

    --newpurple-900: 267 89% 15%;
    --newpurple-800: 265 66% 29%;
    --newpurple-400: 265 78% 70%;
    --newblue-900: 229 58% 17%;
    --newblue-800: 227 83% 37%;
    --newblue-400: 225 60% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground dark;
  }
}

/* Custom animation classes */
@layer utilities {
  .animate-gradient {
    background-size: 200% 200%;
    animation: gradientAnimation 3s ease infinite;
  }

  @keyframes gradientAnimation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

  .hover-scale {
    transition: transform 0.3s ease;
  }

  .hover-scale:hover {
    transform: scale(1.03);
  }
}
